{% extends "organizations/base.j2" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Looking for Charitable Organizations?</h1>
  <p class="lead">Percent can help you find the right charitable organization to donate to.</p>
  <hr class="my-4">
  <p>Sign up to save your favorite organizations to view later</p>
  <a class="btn btn-primary" href="{% url 'register' %}" role="button">Get Started</a>
</div>

{# Search Bar #}
<form method="POST" class="search-bar">
{% csrf_token %}

  <div class="form-group">
    <label for="submitSearch">Search for Any Organization</label>
    <input class="form-control" type="text" placeholder="Search for Organization..." id="searchTerm" name="searchTerm" value="{{ searchTerm }}">
  </div>

  <input class="btn btn-primary" type="submit" value='Submit'>
  <a href="{% url 'organizations-home' %}" class="btn btn-light">Cancel</a><br>

  <div class="form-group">
    <br><a class="advanced-search-btn" href="{% url 'organizations-search' %}">Advanced Search</a><br>
  </div>

</form>



{% endblock content %}