{% extends "organizations/base.j2" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Looking for Charitable Organizations?</h1>
  <p class="lead">Percent can help you find the right charitable organization to donate to.</p>
  <hr class="my-4">
  <p>Sign up to save your favorite organizations to view later</p>
  <a class="btn btn-primary" href="{% url 'register' %}" role="button">Get Started</a>
</div>

{% endblock content %}