{% extends "organizations/base.j2" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Looking for Charitable Organizations?</h1>
  <p class="lead">Percent can help you find the right charitable organization to donate to.</p>
  <hr class="my-4">
  {% if user.is_authenticated %}
    {# Search Bar #}
      <div class="container">
          <form method="POST" class="search-bar">
              {% csrf_token %}

              <div class="form-group">
                  <label for="submitSearch">Search For an Organization</label>
                  <input class="form-control" type="text" placeholder="Search for Organization by Keyword..." id="searchTerm" name="searchTerm" value="{{ searchTerm }}">
              </div>
              <input class="btn btn-primary" type="submit" value='Submit'>
              <a class="btn btn-light" href="{% url 'organizations-search' %}">Advanced Search</a>
          </form>
      </div>
  {% else %}
      <p>Sign up to save your favorite organizations to view later</p>
      <a class="btn btn-primary" href="{% url 'register' %}" role="button">Get Started</a>
   {% endif %}
</div>

<div class="container">
  {% if user.is_authenticated %}
  {% else %}
    {# Search Bar #}
      <div class="container">
          <form method="POST" class="search-bar">
              {% csrf_token %}

              <div class="form-group">
                  <label for="submitSearch">Search For Any Organization</label>
                  <input class="form-control" type="text" placeholder="Search for Organization by Keyword..." id="searchTerm" name="searchTerm" value="{{ searchTerm }}">
              </div>
              <input class="btn btn-primary" type="submit" value='Submit'>
              <a class="btn btn-light" href="{% url 'organizations-search' %}">Advanced Search</a>
          </form>
      </div>
   {% endif %}
</div>


<div class="jumbotron" id="featuredOrgs">
  <h1 class="display-6">Featured Organizations</h1>
  <p class="lead">Here are the Top Ten charitable organizations in the U.S.</p>
  <hr class="my-4">
  <ol>
    <li><a href="{% url 'organizations-organization' ein=131635294 %}">United Way Worldwide</a></li>
    <li><a href="{% url 'organizations-organization' ein=363673599 %}">Feeding America</a></li>
    <li><a href="{% url 'organizations-organization' ein=951831116 %}">Direct Relief</a></li>
    <li><a href="{% url 'organizations-organization' ein=941156347 %}">Salvation Army</a></li>
    <li><a href="{% url 'organizations-organization' ein=620646012 %}">St. Jude's Children's Research Hospital</a></li>
    <li><a href="{% url 'organizations-organization' ein=850359138 %}">Habitat for Humanity International</a></li>
    <li><a href="{% url 'organizations-organization' ein=520591700 %}">YMCA of the USA</a></li>
    <li><a href="{% url 'organizations-organization' ein=911910917 %}">Compassion International</a></li>
    <li><a href="{% url 'organizations-organization' ein=352129067 %}">Boys and Girls Clubs of America</a></li>
    <li><a href="{% url 'organizations-organization' ein=470378996 %}">Goodwill Industries International</a></li>
  
</div>




{% endblock content %}