{% extends "organizations/base.j2" %}

{% block title %}
{% for org in organization %}
    {{ org.charityName }}
{% endfor %}
{% endblock %}

{% block content %}

    <div class="container">
        <form method="POST" class="search-bar">
            {% csrf_token %}

            <div class="form-group">
                <label for="submitSearch">Search For Another Organization</label>
                <input class="form-control" type="text" placeholder="Search for Organization by Keyword..." id="searchTerm" name="searchTerm" value="{{ searchTerm }}">
            </div>
            <input class="btn btn-primary" type="submit" value='Submit'>
            <a class="btn btn-light" href="{% url 'organizations-search' %}">Advanced Search</a>
        </form>
        <hr class="my-4">
    </div>

{% for org in organization %}
    <h1>{{org.charityName}}</h1>

    {% if org.missionStatement %}
        <p><strong>Mission Statement:</strong> {{org.missionStatement}}</p>
    {% endif %}

    <p><strong>City:</strong> {{org.city}}</p>
    <p><strong>State:</strong> {{org.state}}</p>
    <p><strong>Zip Code:</strong> {{org.zipCode}}</p>
    <p><strong>Category:</strong> {{org.category}}</p>
    <p><strong>Tax Employer Identification Number:</strong> {{org.ein}}</p>
    <p><a class="btn btn-primary" id="donate" href="{{org.donationUrl}}" target="_blank">Click Here to Donate (External Link)</a></p>
    <p><a class="btn btn-secondary" id="addToFavorites" href="{% url 'organizations-newFavorite' ein=org.ein %}">Add to Favorites</a></p>

    
{% endfor %}
    


{% endblock content %}