{% extends 'organizations/base.j2' %}
{% load crispy_forms_tags %}

{% block title %}
    Sign Out
{% endblock %}

{% block content %}

    <h2>You have successfully logged out</h2>
    <div class='content-section'>
        <h5>See you next time!</h5>
        <div class="border-top pt-3">
            <small class='text-muted'>
                <a href="{% url 'login' %}">Log In Again</a>
            </small>
        </div>
    </div>

{% endblock %}