{% extends 'organizations/base.j2' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

   <div class="alert alert-success">
        Your password has been updated
    </div>

    <div class='content-section'>
        <h5>Sign in with your new password</h5>
        <div class="border-top pt-3">
            <small class='text-muted'>
                <a href="{% url 'login' %}">Sign In Here</a>
            </small>
        </div>
    </div>


{% endblock %}