{% extends 'organizations/base.j2' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

   <div class="alert alert-info">
        An email has been sent with instructions to reset your password.
    </div>

{% endblock %}