{% extends 'organizations/base.j2' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

   <div class="alert alert-info">
        Your password has been updated
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>

{% endblock %}